@import "tailwindcss";

@theme {
	--animate-play: playAnim;

	@keyframes playAnim {
		0% { transform: scaleY(0.2) }
		10% { transform: scaleY(0.9) }
		30% { transform: scaleY(0.3) }
		50% { transform: scaleY(1.0) }
		70% { transform: scaleY(0.25) }
		100% { transform: scaleY(0.2) }
	}

	--animate-idle: idlePulse;
	@keyframes idlePulse {
		0% { transform: scaleY(0.35) }
		50% { transform: scaleY(0.36) }
		100% { transform: scaleY(0.35) }
	}

	@keyframes mask-up {
		to {
			mask-size: 100% 120px, 100% 100%;
		}
	}
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
	.no-select {
		-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
}