[Unit]
Description=TuneHub Server
After=network.target

[Service]
User=noe
WorkingDirectory=/opt/tunehub
ExecStart=/opt/tunehub/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
